.header {
     padding: clamp(20px, 3vw, 40px) 0;

    &__text {
        @include fluid-font(16px, 20px);
        font-family: Lato, sans-serif;
        text-align: center;
        font-weight: 700;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 1px;
        text-transform: uppercase;
        padding-top: 5px;
        margin-bottom: 5px;
    }

    &__title {
        font-family: Lato, sans-serif;
        font-size: 46px;
        text-align: center;
        margin-bottom: 90px;
        font-weight: 900;
        line-height: 130%;
        color: rgba(30, 33, 44, 1);
    }

    &__nav {
        display: flex;
       justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;
    }

    &__dots {
        position: absolute;
        right: 0;
        top: 50px;
    }
}
