.card {
    max-width: 390px;
    height: 438px;
    background: #fff;
    border-radius: $radius;
    border: 1px solid rgba(229, 232, 237, 1);
    box-shadow: 0px 4px 4px 4px rgba(30, 33, 44, 0.03);
    box-shadow:
        0px 4px 4px -4px rgba(30, 33, 44, 0.03),
        0px 12px 10px -6px rgba(154, 156, 165, 0.04),
        0px 30px 24px -10px rgba(154, 156, 165, 0.05),
        0px 80px 80px -20px rgba(154, 156, 165, 0.08);
    transition: $transition;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    &:hover {
        transform: translateY(-2px);
        box-shadow: 0 4px 16px rgba(0, 0, 0, 0.05);
    }

    &__image {
        width: 100%;
        border-radius: $radius;
        aspect-ratio: 16/10;
        object-fit: fill;
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 24px;
    }

    &__category {
        font-size: 14px;
        color: $color-muted;
    }

    &__title {
        font-weight: 600;
        @include fluid-font(16px, 20px);
    }

    &__meta {
        font-family: Lato, sans-serif;
        font-weight: 400;
        font-size: 18px;
        line-height: 150%;
        color: $color-muted;
    }

    &__price {
        color: rgba(255, 66, 66, 1);
        font-weight: 600;
    }

    &__bnt {
        width: fit-content;
        min-width: fit-content;
        display: inline-flex; 
        align-items: center;
        justify-content: center;
        white-space: nowrap; 
        
        border: none;
        border-radius: 4px;
        padding: 1px 8px; 
        gap: 8px;
        font-family: Lato, sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
        color: #fff;
        background: #424551; 
                
        cursor: pointer;
        transition: all 0.3s ease;
        
        &:hover {
            opacity: 0.9;
            transform: translateY(-1px);
        }
     
        & .card__category {
            color: inherit;
        }
    }

    &__cards__load-more {
        display: flex;
        justify-content: center;
        margin-top: 40px;
    }
}
